footer.dance-footer.dw  

    nav.footer-nav#footer-nav
        span Powered By:
        ul.nav-links
            li: a(href="http://nodejs.org/", target="_blank") NodeJS
            li: a(href="http://www.mongodb.org/", target="_blank") MongoDB
            li: a(href="http://expressjs.com/", target="_blank") Express
            li: a(href="https://github.com/visionmedia/jade", target="_blank") Jade
            li: a(href="http://daringfireball.net/projects/markdown/", target="_blank") MarkDown
            li: a(href="https://github.com/hustcer/latinode", target="_blank") GitHub
            li: a(href="http://www.ubuntu.com/", target="_blank") Ubuntu
            li: a(href="http://nginx.org/", target="_blank", class="fd-hide") Nginx
