//-
//- common page header.
//-
//-	Author: justin.maj
//- Date: 2012-3-12
//-

header.dance-header.dw
	#latin-header.latin-header
		img(src='../images/latinheader.png')
	nav.dance-nav#dance-nav
		ul.nav-links
			li: a(href="/") 首页
			li: a(href="/list") 报名情况
			li: a(href="/man") 会员管理