//-
//- common page header.
//-
//- Author: hustcer
//- Date:   2012-3-12
//-

.dw: header.dance-header
    #latin-header.latin-header
        img(src='/images/latinHeader.png')
        a.version-log(href='/doc/updateLog', target='_blank')
    nav.dance-nav#dance-nav
        ul.nav-links
            li: a(href="/#{cCourse.courseType}") 首页
            li: a(href="/list/#{cCourse.courseType}") 报名情况
            li: a(href="/man/#{cCourse.courseType}") 会员管理