//-
//- User Index.
//-
//- Author: hustcer
//- Date:   2012-1-19
//-

include includes/header

.dw: section.dance-content#list-content
	.content-header
		h1.header-title= title 

		p.none-exist 
			#{msg}

include includes/footer	