//-
//- User Index.
//-
//-	Author: justin.maj
//- Date: 2012-1-19
//-

include includes/header

section.dance-content.dw#list-content
	.content-header
		h1.header-title= title 

		p #{msg}

include includes/footer	