body {
  padding: 50px 0;
  font: 13px "微软雅黑", tahoma;
  background-color: white;
  min-height:600px;
  margin: 0;
}

input{font: 13px "微软雅黑", tahoma;}

.i-sort-default,.i-sort-down,.i-sort-up{font-style: normal;float: right;margin-right: 3px;}

.BW{word-break: break-all;word-wrap: break-word;}
.R{color: #C40000;}
.BD{font-weight:700;}

.none-exist{color: #C40000;margin: 20px 50px;font-weight: 700;}

#user-info{margin-left:250px;}

.gender-tip{color:#999;}
.ie-attention{width: 565px;margin: 50px auto;line-height: 30px;color: black;font-size: 14px;}
.ie-attention em{font-weight: 700;color:red;}

.dance-nav{clear: both;display: inline-block;float: right;overflow: hidden;margin:0 55px 20px;}
.dance-nav .nav-links li{float: left;padding: 3px 15px;background: orange;margin: 0 3px;}
.dance-nav .nav-links li a{color: #333;}
.dance-nav .nav-links li a:hover{color: #00F;text-decoration:none;}

.dw{width:1000px;margin: 0 auto;clear: both;overflow: hidden;}
.comm-button {
	border:1px solid #B83B1C;
	background: orange;
	cursor: pointer;
	padding: 2px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 8px #000000;
	-webkit-box-shadow: 2px 2px 8px #000000;
	box-shadow: 2px 2px 8px #000000;
}
.course-btn{
	border:1px solid #B83B1C;
	background: orange;
	cursor: pointer;
	padding: 1px 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	display: inline-block;
	height: 17px;
	line-height: 17px;
	color: #333;
}
a.course-btn:hover{text-decoration:none;color:blue;}
/*.hr-line{height:2px;line-height:2px;background-color:gray;}*/
.latin-header{margin: 5px 50px 20px 250px;/*display:none;*/}
.dance-content .header-title{font-size: 18px;margin: 0 0 12px;}
.dance-content .welcome-msg{color:#999;font-size:12px;text-indent:2em;}
.dance-content .content-header{margin: 0 100px 15px;}

.dance-content .apply-container{margin:9px 100px;clear: both;overflow: hidden;}
.dance-content .course-info{float: right;border: 1px solid #DDD;width: 175px;height: 270px;padding:15px 5px 15px 7px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;}
.dance-content .table-container{float: left;}
.dance-content .table-container table{width:600px;}
.dance-content .table-container table th{text-align:right;vertical-align: top;width:100px;}
.dance-content .table-container table tr{line-height:30px;}
.dance-content .table-container table .em{font-size:14px;}
.dance-content .table-container .apply-btn {margin: 10px 10px 0 15px;}
.dance-content .table-container .reset-btn {margin: 10px 10px 0 180px;}
.dance-content .table-container label{margin: 0 10px 0 3px;}
.dance-content .table-container .err-tip{color:red;font-size:11px;width: 235px;float: left;}
.dance-content .table-container .over-tip{color:#C40000;font-size:11px;}

.dance-content .apply-table-a{margin: 0 0 15px 5px;}
.dance-content .apply-table-b{margin: 5px 0 10px 5px;}
.dance-content .apply-table-b #email{width:70px;}

.dance-content .operation-info{
	display: block;
	border: 1px solid silver;
	padding: 4px 30px 4px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 30px 100px;
}

.comm-input{margin: 0 9px;border:1px solid #B83B1C;width: 180px;
	height: 16px;line-height: 20px;padding: 3px 6px;background-color: ghostWhite;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;}

.course-tip{color: #C40000;font-size: 12px;padding: 0px 11px;margin: 0 10px 0 49px;display: none;
	border: 1px solid silver;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;height: 20px;line-height: 20px;}

.course-wrapper .course-btn, .course-wrapper .course-tip{display:none;}
.dance-content .course-wrapper{margin: 0 8px;line-height: 27px;clear:both;}
.dance-content .gender-wrapper{margin: 0 8px;}
.dance-content .depart-select{margin: 0 8px;}

.dance-content .ui-combobox .result{width:172px;}
.dance-content .ui-combobox-panel{border-top:0;}
.dance-content .ui-combobox-panel .list{width:193px;}
.dance-content .ui-combobox-item{line-height:20px;}
.dance-content .ui-combobox-selected{background-color:white;color:#333;}

#user-info table tr{line-height:24px;}
#user-info table td{pading-left:12px;}

.dancer-filter, .dancer-list{width:940px;margin: 0 30px 20px;border-bottom: 1px dashed gray;padding-bottom: 15px;}
.dancer-filter table td{padding: 0 7px 0 0;}
.dancer-filter #queryBtn{height: 20px;line-height: 14px;margin-left: 10px;}
.dancer-filter #dancerID.comm-input{width:60px;margin: 0 3px;}

.dancer-filter .dancerID-cell{width:125px;}
.dancer-filter .department-cell{width:150px;}
.dancer-filter .gender-cell{width:116px;}
.dancer-filter .course-cell{width:165px;}
.dancer-filter .status-cell{width:155px;}
.dancer-filter .pay-cell{width:115px;}
.dancer-filter label{line-height: 24px;}
.dancer-filter .department-box, .dancer-filter .course-box{display: inline-block;}
.dancer-filter .course-box .comm-select{width:116px;}
.dancer-filter .department-box .comm-select{width:100px;}

.dancer-filter .bread-wrapper{clear: both;overflow: hidden;}
.dancer-filter .bread-area{width:720px;float: left;margin-bottom: 16px;}
.dancer-filter .bread-area .bread-holder{line-height:23px;}
.dancer-filter .op-area{width:208px;float: left;}
.dancer-filter .clear-btn{float: right;}
.dancer-filter .email-btn{display: none;}
.dancer-filter .cond-item p{display: inline-block;line-height: 22px;}
.dancer-filter .cond-item{display: none;
padding: 2px 0px 2px 6px;border: 1px solid #999;margin: 0 12px 0px 0;}
.dancer-filter .cond-item .close{color: #777;border-left: 1px solid #999999;
display: inline-block;padding: 0px 5px;height: 22px;
line-height: 22px;cursor: pointer;margin-left: 8px;}

.dancer-list table{width:100%;table-layout:fixed;}

#list-content .content-header{margin: 0 30px 20px;border-bottom: 1px dashed gray;}
#list-content .search-form{float: left;}
#list-content .department-cell .ui-combobox .result {width: 75px;}
#list-content .department-cell .ui-combobox-panel .list{width:96px;}
#list-content .course-cell .ui-combobox .result {width: 95px;}
#list-content .course-cell .ui-combobox-panel .list{width:116px;}
#list-content .status-cell .ui-combobox .result {width: 65px;}
#list-content .status-cell .ui-combobox-panel .list{width:86px;}
#list-content .email-result{clear: both;}

.dancer-list table tr{line-height: 17px;height: 23px;}
.dancer-list table th{background: silver;border-right: 1px solid gray;}
.dancer-list table tbody td{border-bottom:1px solid #9CF;padding-left:5px;font-size:12px;}
.dancer-list .dancerID-header{width:60px;text-align:center;cursor: pointer;}
.dancer-list .dancerName-header{width:65px;cursor: pointer;}
.dancer-list .gender-header{width:45px;cursor: pointer;}
.dancer-list .course-header{width:310px;}
.dancer-list .email-header{width:200px;cursor: pointer;}
.dancer-list .wangWang-header{width:95px;cursor: pointer;}
.dancer-list .ext-header{width:65px;cursor: pointer;}
.dancer-list .dept-header{width:100px;cursor: pointer;}
.dancer-list .loading{text-align:center;padding-top: 20px;}
.dancer-list .loading img{margin-bottom:10px;}
.dancer-list .list-empty{text-align: center;padding-top: 20px;color: #C40000;font-weight:700;}
 
.admin-bg-nav{float:left;width:180px;padding: 20px 0 50px;background: #ffe;}
.admin-bg-nav .admin-links li{line-height:23px;height:23px;padding: 3px 45px;background: #ffe;}
.admin-bg-nav .admin-links li a{color:#6D79E1;}
.admin-bg-nav .admin-links li a:hover{text-decoration:none;}
.admin-content h1.header-title{font-size:17px;font-weight:bold;margin-bottom:20px;}
.admin-content .op-container{float: left;width: 770px;padding: 0px 20px 30px 30px;}
.admin-content .admin-op h3{font-size:16px;font-weight:bold;color:#6D79E1;margin-bottom: 20px;}
.admin-content .admin-op {border-bottom: 1px dashed gray;padding: 20px 0 15px;display: none;overflow: hidden;}
.admin-op table{margin: 10px 5px 25px 50px;}
.admin-op table tr{height: 30px;line-height: 30px;}
.admin-op table td{padding-right:20px;}
.admin-op .course-cell{width: 200px;line-height: 20px;}
.admin-op #dancerID{width:135px;}
.admin-op .comm-select{width:125px;}
.admin-op .op-cond{color: #999;padding: 10px 0 15px 49px;display: inline-block;}
#op-container .ui-combobox-panel .list{width:141px;}
#op-container .ui-combobox-panel .list .ui-combobox-item{height:20px;line-height:20px;}

.admin-op .edit-container{margin:9px 100px;clear: both;overflow: hidden;}
.admin-op .edit-container #dancerID{width:180px !important;}
.admin-op .course-info{float: right;border: 1px solid #C40000;width: 175px;height: 270px;padding:15px 5px 15px 7px;}
.admin-op .table-container{float: left;}
.admin-op .table-container table{width:600px;}
.admin-op .table-container table th{text-align:right;vertical-align: top;width:100px;}
.admin-op .table-container table tr{line-height:30px;}
.admin-op .table-container table .em{font-size:14px;}
.admin-op .table-container .reset-btn {margin: 10px 10px 0 180px;}
.admin-op .table-container label{margin: 0 10px 0 3px;}
.admin-op .table-container .err-tip{color:red;font-size:11px;width: 235px;float: left;}
.admin-op .course-wrapper{margin: 0 8px;line-height: 27px;clear:both;}
.admin-op .depart-select,.admin-op .forever,.admin-op .gender-wrapper{margin: 0 8px;}

.admin-op .rangeVal{font-weight: bold;color: orange;font-size:16px;}
.admin-op .forever-label{color:#C40000;}

#dancer-edit .ui-combobox-panel .list{width:190px!important;}
#dancer-edit .ui-combobox .result{width:170px!important;}

.admin-op .edit-table-a{margin: 0 0 15px 5px;}
.admin-op .edit-table-b{margin: 5px 0 10px 5px;}
