
{
    "dbAuth"    :{
        "username"  : "",
        "password"  : ""
    },
    
    "mailAuth"  :{
        "mailSupplier"  : "Gmail",
        "email"         : "",
        "password"      : ""
    }
    
}
